<% provide(:title, "About") %>
<%= render 'layouts/navbar' %>

<header> 
	<div class="curriculum">
      <div class="">
          <h1 class="">Begin Your Adventure in Discovery Learning</h1>
          <h3 class="">Our curriculum forms an engaging supplement to Technology Curriculum and a meaningful launchpad for Computer Science.</h3>         
      </div>   
    </div> 
</header>

  <section class="">   
      <div class="">
          <h3 class="">"Software touches all things you use, and tech companies are revolutionizing all different areas of the world from how we shop to how farming works... these things that aren't technical are being turned upside down by software. So being able to play in that universe really makes a difference." <br>-- <strong>Drew Houston</strong>, <i>Founder &amp CEO</i>, Dropbox</h3>
      </div>      
  </section>

<section class="learningskills adventure">
	<div class="container">
		<div class="row">
			<h1>Learning Skills</h1>
			<h3>Each course is designed with 4 strands of skill-development.</h3>
				<div class="col-sm-3">
					<h3>Problem Solving</h3>
				</div>		
				<div class="col-sm-3">
					<h3>Collaboration</h3>			
					<p></p>
				</div>
				<div class="col-sm-3">
					<h3>Precision</h3>
				</div>				
				<div class="col-sm-3">
					<h3>Communication</h3>			
					<p> </p>
				</div>			
		</div>
	</div>
</section>


<div class="container">
	<div class="row">
		<h1></h1>
		<h3></h3>
			<div class="col-sm-3">
				<h4>Project-Based</h4>
			</div>
			<div class="col-sm-3">
				<h4>Community-Focused</h4>
			</div>			
			<div class="col-sm-3">
				<h4></h4>			
				<p></p>
			</div>
			<div class="col-sm-3">
				<h4></h4>			
				<p> </p>
			</div>			
	</div>
</div>

<section class="">
			<div class="row">
        <div class="small-12 medium-12 large-12 small-centered medium-centered large-centered columns">
          <h1>Spark brings together:</h1>
        </div>       
      </div>
		<div class="container">  
	      <div class="row">   			
	      	<div class="col-sm-6"> 
			    		<h3>Teachers</h3>
<!-- 	            <img class="headshots" src="photos/apoorv.jpg"/> 
 -->	              <p>Not everyone has the virtues to shape young minds, so our OCT-teachers and tutors are hand-picked for their breadth of experience as inclusive, equitable leaders of children and youth. Ranging from Grade 4 Science Teachers to High School English teachers, our team is powered by innovative professionals who are passionate about the merging of literacy and technology. More needs to be done to equip our children with life-skills and learning-habits for an unpredictable future, and Spark teachers know how to foster independent, engaged, resilient creators.</p>         
			    </div>
	        <div class="col-sm-6">              
						<h3>Web Developers</h3>
<!-- 	            <img class="headshots" src=""/>         
 -->	              <p>Our Developers are not just players on the global coding stage, they are generous, caring, and helpful leaders. They literally get giddy when helping someone check-out the right Git Branch or finding a more "elegant" and DRY (Do Not Repeat Yourself!) version of your Ruby code. Poets much? And Spark's community of Web Developers is growing on the principle that there's so much heart- and brain-power out there that simply wants to help you. When looking for Developers to Tutor and run Workshops, we care less about which prestigious University program you attended than how well you create and help others create.</p> 
	       	</div>
	      </div>   
	    </div> 
<!--        		<div class="large-4 medium-8 small-12 columns">              
                  <img height="310" src="photos/david.jpg">
        </div>  -->     
</section>	

	<div class="home lightgrey-bg">
		<div class="container">
			<div class="row">
				<h1>Our Homes</h1>
				<h4>Sparked homes share a lot in common. They are innovative, accessible, and community-oriented. Sparked has brought </h4>
			</div>

			<div class="row">
				<div class="section-header col-sm-6">
					<h1>Brampton</h1>
		                <%= image_tag "lab-b-large.png",:class=>'location img-responsive'%>			
				</div>
			</div>
		</div>
	</div>

	<div class="home">	
		<div class="container">
			<div class="row">
				<div class="section-header col-sm-6">
				</div>
				<div class="section-header col-sm-6">
					<h1>Mississauga</h1>
		                <%= image_tag "studio89.png",:class=>'location img-responsive'%>			
				</div>
			</div>
		</div>
	</div>
	<div class="home lightgrey-bg">	
		<div class="container">
			<div class="row">
				<div class="section-header col-sm-6">
					<h1>Toronto</h1>
		                <%= image_tag "icewire.png",:class=>'location img-responsive'%>			
				</div>
			</div>	
		</div>
	</div>

<section class="skyline darkgreen-bg">
    <div class="row team">    
        <div class="small-12 medium-6 large-4 columns">
           <div class="frames"> 
            <img class="bitstrips" src="assets/images/will.png">
           </div> 
           <div class="team-bio">
          <h3>William Partington</i></h3>
          <h4><i>Student Ambassador</i></h4>          
           <p>Will has an innate ability to bring people together to create. A head-coordinator for White Pine and a vital part of his high-school community, Will is continually searching for ways to build inclusive, equitable organizations founded on social justice and environmental responsibility. He is an avid coder who is just beginning to scratch the surface of his potential as a leader. He hopes to use technology to bolster his outreach and ability to be a force for change on a global level.</p>
          </div>
        </div>          
        <div class="small-12 medium-6 large-4 columns">        
          <div class="frames">
            <img class="bitstrips" src="assets/images/brian.png">
          </div>
           <div class="team-bio">
          <h3>Brian Meli</i></h3>
          <h4><i>Curriculum Designer</i></h4>        
           <p>If you are lucky enough to have Brian Meli as a friend, coworker, or teacher, you know that a soul like his is hard to find. A brilliant elementary teacher in Toronto, Brian is renowned for creating inclusive, uplifting, and enduring communities. He is also currently in the home-stretch of his Masters in Education at OISE, where he is practicing discovery-based learning strategies. Brian crafts entire units and courses that don't feel like school or Ontario Curriculum because of how fun they are -- and that's why he's drawn to the power of coding.</p>
          </div>                            
        </div>
        <div class="small-12 medium-12 large-4 columns">        
          <div class="frames">
            <img class="bitstrips" src="assets/images/ian.png">
          </div>
           <div class="team-bio">
          <h3>Ian King</i></h3>
          <h4><i>Community Builder</i></h4>        
           <p>Ian King is a builder. Not so much of bricks and mortar, but of human relationships. He understands the intrinsic links between social activity, education, and innovation, and beneath all of his tech-talk, he is a true believer in everyone's capacity for greatness. He never stops moving, and he is often magically in more-than-one-place at once! At the root of it all, his kindness and belief in the potential for communal, cooperative achievement through education is why he is such a valued member of Sparked.</p>
          </div>                            
        </div>                        
    </div>   
</section>


