<% provide(:title, 'Crash Creators') %>
<%= render 'layouts/navbar' %>
<header> 
	<div class="hero-landing toronto" id="heroLanding">
		<div class="content heroContent">
			<h1><span class="lightblue">Spark</span><span class="lightgreen">ed</span><br> <span class="lightblue">Community</span></h1>
	        <div class="apply">
	         <!-- Button trigger modal --> 
	            <a class="bttn bttn-2 bttn-2h link" href="https://sparked.typeform.com/to/mfBpCb" data-mode="2" target="_blank" data-no-turbolink>Contact Sparked</a>

	        </div>
     	</div>
     </div>
</header>

    <section>
      <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
        <%= image_tag "scroll-down.svg", class: "floating" %> 

      </a>
    </section>

<section class="crash-instructions">
	<div class="program-divider white">
    	<div class="container">
    		<div class="row spacer">  
    			<div class="col-sm-8 col-sm-offset-2">
					<h1 class="center spacer">Welcome to a Sparked Community Workshop!</h1>
    				<div>
		              <h4>Share the amazing work you are doing</h4>
		                <ul class="share-buttons">
		                  <li>
		                    <a href="https://twitter.com/sparkedGTA" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @sparkedGTA</a>
		                    <a href="https://twitter.com/intent/tweet?screen_name=sparkedGTA&text=Creating%20with%20Sparked%20in%20Brampton" class="twitter-mention-button" data-size="large" data-related="sparkedGTA">Tweet to @sparkedGTA</a>
		                  </li>
		                  <li>
		                  <a class="fb-like" data-href="https://www.facebook.com/pages/Sparked-Technology-Education/842075489144646" data-width="300px" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></a>
		                  </li>
		                </ul>
		           </div>
		            <h4>Here are the steps for getting started with the cloud development environment:</h4>		           
		           <ol class="list-group">
						<li class="list-group-item">1. &nbsp; Sign up for a free account at <a href="https://c9.io/">Cloud9</a></li>
						<li class="list-group-item">2. &nbsp; Click on “Go to your Dashboard”</li>
						<li class="list-group-item">3. &nbsp; Select “Create New Workspace”</li>
						<li class="list-group-item">4. &nbsp; Create a workspace called "rails-tutorial”, set it to “Private to the people I invite”, and select the icon for the Rails Tutorial (not the icon for Ruby on Rails)</li>
						<li class="list-group-item">5. &nbsp; Click “Create”</li>
						<li class="list-group-item">6. &nbsp; After Cloud9 has finished provisioning the workspace, select it and click “Start editing”</li>
		    		</ol>
			            <h4>Here are the steps for getting started with the cloud development environment:</h4>		           
					<ol class="list-group">
						<li class="list-group-item">Copy the Gemfile from <a href="https://github.com/mhartl/rails_tutorial_3rd_edition_gemfiles/blob/master/hello_app/Gemfile">here</a></li>
					</ol>
	    		</div>
    		</div>
    	</div>
	</div>
</section>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
