			<section class="color-2">
				<p>
					<button class="bttn bttn-2 bttn-2a">Button</button>
					<button class="bttn bttn-2 bttn-2b">Button</button>
				</p>
				<p>
					<button class="bttn bttn-2 bttn-2c">Button</button>
					<button class="bttn bttn-2 bttn-2d">Button</button>
				</p>
				<p>
					<button class="bttn bttn-2 bttn-2e">Button</button>
					<button class="bttn bttn-2 bttn-2f">Button</button>
				</p>
				<p>
					<button class="bttn bttn-2 bttn-2g">Button</button>
					<button class="bttn bttn-2 bttn-2h">Button</button>
				</p>
				<p>
					<button class="bttn bttn-2 bttn-2i">Yes</button>
					<button class="bttn bttn-2 bttn-2j">No</button>
				</p>
			</section>