<section class="landing">	
	<video autoplay="true" poster="" muted="true">
<!-- 					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.webm" type="video/webm">		
					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.mp4" type="video/mp4">	  -->
	</video>					
		
		<div class="overlay" id="hero-overlay"> 
		
			<h1 class="hero-title">We are 					
				<span class="word-swap"></span>
				<br>

				<!-- <ul class="offerings"> 
					<a href="#courses"><li>Courses</li></a>
					<a href="#courses"><li>Events</li></a>
					<a href="#courses"><li>Resources</li></a>
				</ul> -->

				<h3 class="hero-description">Coding education for youth in the GTA.</h3>
			</h1>
				
				<%= image_tag "scroll-down.svg", class: "scrolldown floating" %>
		</div>

</section>


<div class="container">
  <div class="row">
    <div class="col-sm-8">

		<%= link_to "Sign up now!", signup_path, class: "button" %>
		<%= link_to 'My Blog', blog_path , class: "button" %>


    </div>
  </div>
</div>











