<%= render 'layouts/navbar' %>
<% provide(:title, "Code x Creators") %> 

<section class="landing">	
	<video autoplay="true" poster="" muted="true">
					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.webm" type="video/webm">		
					<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.mp4" type="video/mp4">	 
	</video>					
		
		<div class="overlay" id="hero-overlay"> 
		  <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
      			<h1 class="hero-title">We are 					
      				<span class="word-swap"></span>
      				<br>
      				<h3 class="hero-description">Coding education for youth in the GTA.</h3>
      			</h1>
          </div>
        </div>
			</div>

		</div>

</section>

    <section>
      <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
        <%= image_tag "scroll-down.svg", class: "floating" %> 

      </a>
    </section>
  <div class="content" id="content">
  </div>

  <header id="ha-header" class="ha-header">
      <h3><a class="pulse" href="tel:+18774772753"><span>Let's Chat! &nbsp;</span> <span class="red"> 1-(877)-4-SPARK-3</span></a></h3>
    </header>

<div class="section-header">
  <div class="container">
    <div class="row ">
      <div class="col-md-6 col-md-offset-3">
        <h2></h2>
        <hr>
          <h4>Our mission is to spread literacy in the most important language of our generation: Code. A blend of Industry Professionals and OCT-Trained teachers enables us to bring life-changing education to youth in the GTA. We believe that <strong>everyone</strong> has the ability to learn to code -- and to have fun doing it. <!-- <a href="/about"> More About Us</a> --></h4>
        <hr>
      </div>
    </div>  
  </div>
</div>

<section class="course-list" id="courses">
      <div class="container">
        <div class="row quickcourses clearfix">
            <div class="row">
              <div class="col-sm-12">
                <h1><span class="blue">Sparked</span><span class="green underline">Creator</span><span class="grey">Courses</span></h1>
              </div>
            </div>


            <div class="col-sm-6 col-md-6 col-lg-6">
              <a href="/web-creators">            
              <div class="courseborder">
                  <hr>                      
                    <div class="badge_shell">  
                 <span class="label label-warning">6 Spots Left!</span>                      
                      <%= image_tag "web.png",:class=>'press_badge'%>
                    </div>
                    <h4 class="social_sub_heading">Web Creators</h4>
                        <div class="topics">
                          <br>
                           <p>Web Creator Courses empower youth to build websites and web applications.</p>
                           <br>
                        </div>   
                 <hr>
                    <div class="next_class">
                      <h3 class="black extra">Next &nbsp;<span class="blue">Web Creator</span>&nbsp;Course:</h3>  
                    </div>
                      <hr>        
                   <h4>Web Development</h4>
                <h4>May 3, 2015</h4>  
              </div>
              </a>            
            </div>  

            <div class="col-sm-6 col-md-6 col-lg-6">
              <a href="/mobile-creators">
              <div class="courseborder">
<!--                     <span class="label label-warning">Limited Seats</span> -->
                    <hr>
                      <div class="badge_shell">  
                        <%= image_tag "mobile.png",:class=>'press_badge'%>
                      </div>
                        <h4 class="social_sub_heading">Mobile Creators</h4>
                        <div class="topics">
                           <br>
                           <p>Mobile Creator Courses empower youth to build applications for the growing market of mobile devices.</p>
                        </div>   
                 <hr>
                    <div class="next_class">
                      <h3 class="black extra">Next &nbsp;<span class="green">Mobile Creator</span>&nbsp;Course:</h3>  
                    </div>
                  <hr>                     
                   <h4>iOS Development</h4>
                <h4>July 7, 2015</h4>                 
             </div>
            </a>
          </div> 

      </div>
    </div> 
</section>

<section class="exit-music">
   <div class="overlay" id="hero-overlay">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-offset-2">
        
        <p><span>Spark Engagement</span>
        <br>
        <br>Our courses transform youth from passive users to engaged creators. Make the web an outlet for creativity and activism -- who knows where Sparked will take you. <br>
        <br> 
        </p>
      </div>
      </div>
  </div>
</div>
</section>








