<% provide(:title, "Home") %>

<section class="landing">	
			<video autoplay="true" poster="" muted="true">
<!-- 				<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.webm" type="video/webm">		
				<source src="http://sparkedtech.s3.amazonaws.com/Sparked_landing_low.mp4" type="video/mp4">	 -->	
			</video>	
<!-- 			<%= image_tag "fbHoC23.jpg", :class => ""%>
 -->		<div class="overlay">	
			<div class="container-fluid">
				<div class="row">						
					<div class="text-overlay col-sm-12">					
						<h1 id="landing-statement">We are <br><span class="word-swap"></span></h1>
					</div>
				</div>
			</div>
		</div>		
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</section>
	<div class="container">
		<%= link_to 'My Blog', controller: 'blog' %>
		<h1 id="landing-statement">TEST</h1>
		<h2>test h2</h2>
		<h3 class="test">test class</h2>
	</div>

