<% provide(:title, 'Workshops') %>
<%= render 'layouts/navbar' %>
<header> 
	<div class="hero-landing toronto" id="heroLanding">
		<div class="content heroContent">
			<h1>Junior<br> Web<br> Creators</h1>
			<h2>For bold explorers taking their first steps in code.</h2>
	        <div class="apply">
	         <!-- Button trigger modal --> 
	            <a data-toggle="modal" data-target="#signup" class="bttn bttn-2 bttn-2e link" id="apply">REQUEST INFO</a>
	            <a data-toggle="modal" data-target="#signup" class="bttn bttn-2 bttn-2f link" id="apply">APPLY</a>
	        </div>
     	</div>
</header>