<% provide(:title, 'Workshops') %>
<%= render 'layouts/navbar' %>
<header> 
	<div class="hero-landing toronto" id="heroLanding">
		<div class="content heroContent">
			<h1><span class="lightblue">Spark</span><span class="lightgreen">ed</span><br> <span class="lightblue">Community</span></h1>
	        <div class="apply">
	         <!-- Button trigger modal --> 
	            <a class="bttn bttn-2 bttn-2h link" href="https://sparked.typeform.com/to/mfBpCb" data-mode="2" target="_blank">Contact Sparked</a>
					<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>

	        </div>
     	</div>
     </div>
</header>
    <section>
      <a class="arrow-wrap" href="#content">
        <span class="arrow"></span>
        <%= image_tag "scroll-down.svg", class: "animated float", id: "scrollDown" %> 

      </a>
    </section>

<section class="workshop-instructions">
	<div class="program-divider green">
    	<div class="container">
    		<div class="row spacer">  
    			<div class="col-sm-8 col-sm-offset-2">
					<h1 class="center spacer">Welcome to a Sparked Community Workshop!</h1>
    				<ol class="blue">
    					<li><h3>Let's start by watching a sweet video on Hours of Codes just like this that are  <a href="https://www.youtube.com/watch?v=FC5FbmsH4fw"/>going on all over the world</a></h3></li>
    					<li><h4>Next, let's download the <a href="http://sparkedtech.s3.amazonaws.com/codeBase-lab-B.zip">code-base</a> for today's session. This will help with building the foundation of your page and get us right into coding! <br></br> Along with the code-base, this workshop is being recorded and will be posted online, along with a transcript and additional resources.</h4></li>
    					<li><h4>Lastly, we should all have <a href="http://www.sublimetext.com/2">Sublime Text</a> and <a href="http://www.google.com/intl/en_ca/chrome/browser/">Google Chrome</a></h4></li>		
    				</ol>
					
	    		</div>
    		</div>
    	</div>
	</div>
</section>