@import "bourbon"; // http://bourbon.io/
@import "custom";
@import "settings";

/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	@include box-sizing;
}

*::after, *::before {
	content: '';
}


body {
	&::after {
		/* overlay layer visible on small devices when the right panel slides in */
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($blue, .8);
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s 0s, visibility 0s .3s;
	}

	&.sp-overlay::after {
		visibility: visible;
		opacity: 1;
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	@include MQ(M) {
		&::after {
			display: none;
		}
	}
}


/* -------------------------------- 

Main components 

-------------------------------- */


	
.sp-faq {
	.courses-container {
		width: 90%;
		max-width: $L; // breakpoints inside partials > _layout.scss
		// ~margin: 2em auto 0 auto;
		padding: 2em auto 0 auto;
		@include clearfix;

		@include MQ(M) {
			position: relative;
			margin: 0 auto;
			box-shadow: none;
		}
		ul {
			margin-top: 150px; 
		}
	}
}


.learningskills {
	margin: 0;
	&.blue {
		background-color: $lightblue;
	}
	&.green {
		background-color: $lightgreen;
	}
	&.grey {
		background-color: $lightgrey;
	}
}




/* -------------------------------- 

Dividers

-------------------------------- */

.program-divider {
	background-color: $black;
	min-height: 250px;
	margin: 0;
	h3 {
	}
	.blue {
		color: $lightblue;
	}
	.green {
		color: $lightgreen;
	}
}



.overview { 
	background-image: image-url('blueprint-small.gif');
	padding: 2rem;
	background-position-x: initial;
	background-position-y: initial;
	background-size: initial;
	background-repeat-x: repeat;
	background-repeat-y: repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	min-height: 600px;
	h1 {
		font-family: $fontregular;
	}
	p {
		text-align: left;
	}
	.second-container {
		max-width: $L; // breakpoints inside partials > _layout.scss
		margin: 2em auto;
		@include clearfix;

		@include MQ(M) {
			position: relative;
			// ~margin: 4em auto;
			box-shadow: none;
		}
		ul {
			margin-top: 150px; 
		}
	}
	.core-skills {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	.core-skill {
		img {
			display: inline-block;
			width: 75px;
		}
		p {
			display: inline-block;
		}
	}
}

.sp-categories {
	ul {
		border-radius: 3px 3px 0 0;
	}
	a {
		position: relative;
		display: block;
		overflow: hidden;
		height: 50px;
		line-height: 50px;
		padding: 0 28px 0 16px;
		background-color: #333;
		@include font-smoothing;
		color: $white;
		white-space: nowrap;
		c-bottom: 1px solid lighten($black, 3%);
		text-overflow: ellipsis;

		&::before, &::after {
			/* plus icon on the right */
			position: absolute;
			top: 50%;
			right: 16px;
			display: inline-block;
			height: 1px;
			width: 10px;
			background-color: lighten($black, 20%);
		}

		&::after {
			@include transform(rotate(90deg));
		}
	}

	li {
		list-style: none;
		a {
			text-decoration: none;
			border-bottom: 1px solid $black;
			&:focus, &:hover {
				background-color: $offblack;
			}
		}
	}
	li:last-child a {
		border-bottom: none;
		// background-color: darken($blue, 10%);
		height: 70px;
		// line-height: 100px;
		text-align: center;
		&:focus, &:hover {
			background-color: $offblack;
		}
	}
	.jr-apply h4{
		border-radius: 3px;
		line-height: 50px;
		font-weight: 600;
		background-color: $lightblue;
  		@include transition((all, 200ms));
			&:hover {
			background-color: darken($lightblue, 20%);
			}
	}	
	.int-apply h4{
		border-radius: 3px;
		line-height: 50px;
		font-weight: 600;
		background-color: $lightgreen;
  		@include transition((all, 200ms));
			&:hover {
			background-color: darken($lightgreen, 20%);
			}
	}
	.sr-apply h4{
		border-radius: 3px;
		line-height: 50px;
		font-weight: 600;
		background-color: $grey;
  		@include transition((all, 200ms));
			&:hover {
			background-color: darken($grey, 20%);
			}
	}
	@include MQ(M) {
		width: 20%;
		float: left;
		 // box-shadow: 0 1px 2px rgba(#000, .08);

		a {
			font-weight: 600;
			padding-left: 24px;
			padding: 0 24px;
			@include transition((background .2s, padding .2s));

			&::before, &::after {
				display: none;
			}
			.no-touch &:hover {
				background-color: $grey;
			}
		}

		.no-js & {
			width: 100%;
			margin-bottom: 2em;
		}
	}

	@include MQ(L) {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		z-index: 2;

		a::before {
			/* decorative rectangle on the left visible for the selected item */
			display: block;
			top: 0;
			right: auto;
			left: 0;
			height: 100%;
			width: 3px;
			background-color: $lightblue;
			opacity: 0;
			@include transition(opacity .2s);
		}

		.selected {
			background: darken($lightgrey, 5%) !important;
			color: $black;
			border-bottom: none;	
			// &::before {
			// 	opacity: 1;
			// }
		}
			// &::after {
			// 	background-image: image-url('spark.png');
			// 	position: absolute;
			// 	content: "";
			// }

		&.is-fixed {
			/* top and left value assigned in jQuery */
			position: fixed;
		}

		.no-js & {
			position: relative;
		}
	}
}



.sp-items {
	position: fixed;
	height: 100%;
	width: 90%;
	top: 0;
	right: 0;
	background: $green;
	padding: 0 5% 1em;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include transform(translateZ(0) translateX(100%));
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s;

	a {
		text-decoration: none;
	}
	&.slide-in {
		@include transform(translateZ(0) translateX(0%));
	}

	.no-js & {
		position: static;
		height: auto;
		width: 100%;
		@include transform(translateX(0));
	}

	@include MQ(M) {
		position: static;
		height: auto;
		width: 78%;
		float: right;
		overflow: visible;
		@include transform(translateZ(0) translateX(0));
		padding: 0;
		background: transparent;
	}

	@include MQ(L) {
		float: none;
		width: 100%;
		padding-left: 220px;

		.no-js & {
			padding-left: 0;
		}
	}
}

.sp-close-panel {
	position: fixed;
	top: 5px;
	right: -100%;
	display: block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index: 2;
	/* Force Hardware Acceleration in WebKit */
	@include transform(translateZ(0));
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	@include transition(right .4s);

	&::before, &::after {
		/* close icon in CSS */
		position: absolute;
		top: 16px;
		left: 12px;
		display: inline-block;
		height: 3px;
		width: 18px;
		background: $blue;
	}

	&::before {
		@include transform(rotate(45deg));
	}

	&::after {
		@include transform(rotate(-45deg));
	}

	&.move-left {
		right: 2%;
	}

	@include MQ(M) {
		display: none;
	}
}

.sp-group {
	/* hide group not selected */
	display: none;
	&.selected {
		display: block;
	}

	.sp-title {
		box-shadow: none;
		margin: 1em 0;


		.no-touch &:hover {
			box-shadow: none;
		}

		h2 {
			text-transform: uppercase;
			@include font-size(16px);
			font-weight: 700;
			// color: darken($lightgrey, 20%);
		}
	}

	.no-js & {
		display: block;
	}

	@include MQ(M) {
		/* all groups visible */
		display: block;

		> li {
			margin-bottom: 6px;	
			//~ box-shadow: 0 1px 2px rgba(#000, .08);
			list-style: none;
			@include transition(box-shadow .2s);

			.no-touch &:hover {
				//~ box-shadow: 0 1px 10px rgba($blue, .3);
			}
		}

		.sp-title {
			margin: 2em 0 1em;
		}

		&:first-child .sp-title {
			margin-top: 0;
		}
	}
}



.sp-trigger {
	position: relative;
	display: block;
	margin: 1.6em 0 .4em;
	line-height: 1.2;
	color: $black;

	&.blue {
		border-bottom: 1px solid darken($lightblue, 10%);
	}
	&.green {
		border-bottom: 1px solid darken($lightgreen, 10%);
	}
	&.grey {
		border-bottom: 1px solid darken($lightgrey, 10%);
	}
	@include MQ(M) {
		@include font-size(24px);
		@include transition((all, 250ms));		
		font-weight: 300;
		margin: 0;
		padding: 14px 72px 14px 24px;
		&::before, &::after {
			/* arrow icon on the right */
			position: absolute;
			right: 24px;
			top: 50%;
			height: 2px;
			width: 13px;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			@include transition-property(transform);
			@include transition-duration(.2s);
		}
		&.blue {
			&::before, &::after {
				background: darken($lightblue, 30%);
			}
		}
		&.green {
			&::before, &::after {
				background: darken($lightgreen, 30%);
			}
		}
		&.grey {
			&::before, &::after {
				background: darken($lightgrey, 30%);
			}
		}
		&:hover {
			padding-left: 45px;
			color: $black;
		}
		&:focus, &:visited {
			color: $black;	
		}
		&::before {
			@include transform(rotate(45deg));
			right: 32px;
		}

		&::after {
			@include transform(rotate(-45deg));
		}

		.content-visible &::before {
			@include transform(rotate(-45deg));
		}
		.content-visible &.sp-trigger {
			background-color: $white;
			color: $black;
			border-bottom: none;
		}
		.content-visible &::after {
			@include transform(rotate(45deg));
		}
	}
}

.sp-content {
	background-color: $white;
	p {
		line-height: 1.4;
		color: $black;
		padding: 2.5rem;
	}

	@include MQ(M) {
		display: none;
		//~ padding: 0 24px 30px;
		p {
			line-height: 1.6
		}

		.no-js & {
			display: block;
		}
	}
}


