$fontregular: 'ProximaNova-Reg';
$fontregularit: 'ProximaNova-RegIt';
$fontthin: 'ProximaNova-Thin';
$fontthinit: 'ProximaNova-ThinIt';
$fontbold: 'ProximaNova-Bold';
$fontsbold: 'ProximaNova-Sbold';
$fontboldit: 'ProximaNova-BoldIt';


$color-1: #4e5359; // blue dark
$color-2: #a9c056; // green
$grey-light: #f3f3f5; // grey light
$color-4: #6c7d8e; // blue light
$color-5: #ffffff; // white

/* text-changes */

$minspacing: .1rem;

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;



/*~ Colors */

  $green: rgba(129, 176, 60, 0.9);
  $blue: rgba(42, 119, 159, 0.9);
  $lightblue: rgba(87, 183, 223, 0.9);
  $green: rgba(213, 224, 83, 0.9);
  $lightgreen: rgba(213, 224, 83, 0.9);
  $clear: rgba(0,0,0,0);
  $white: #fff;

  $fast: color 0.1s ease;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-size {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin transition($fast) {
  -webkit-transition: $fast;
  -moz-transition: $fast;
  -ms-transition: $fast;
  -o-transition: $fast;
  transition: $fast;
}