$fontregular: 'ProximaNova-Reg', sans-serif;
$fontregularit: 'ProximaNova-RegIt', sans-serif;
$fontthin: 'ProximaNova-Thin', sans-serif;
$fontthinit: 'ProximaNova-ThinIt', sans-serif;
$fontbold: 'ProximaNova-Bold', sans-serif;
$fontsbold: 'ProximaNova-Sbold', sans-serif;
$fontboldit: 'ProximaNova-BoldIt', sans-serif;


// colors
$color-1: #030d18; // blue dark
$color-2: #f5484a; // orange
$color-3: #f0eee1; // cream
$color-4: #ffffff; // white

// fonts 
$primary-font: 'Open Sans', sans-serif;

// z-index 
$secondary-bar-zindex: 1;
$intro-zindex: 2;
$header-zindex: 3;

// header height 
$header-S: 50px;
$header-M: 70px;

//intro height
$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 600px;

//secondary bar
$bar-height-full: 100px;
$bar-height: 70px;



/* text-changes */

$minspacing: .1rem;

/* mixins, variables, etc. */

  $gray-medium-light: #eaeaea;



/*~ Colors */

  $green: rgb(129, 176, 60); /*81B03C*/
  $green-matte: rgb(129, 176, 60); /*#81B03C*/
  $blue: rgb(42, 119, 159); /*2A779F*/
  $lightblue: rgb(87, 183, 223); /*57B7DF*/
  $lightgreen: rgb(213, 224, 83); /*D5E053*/
  $grey: rgb(169, 188, 184); /*A9BCB8*/
  $lightgrey: rgb(243,243,245); /*F3F3F5*/ 
  $lightgrey2: #f1f2f2;
  $mediumgrey: #808080; /**/
  $darkgrey: #404040;
  $clear: rgba(0,0,0,0); /**/
  $white: #fff; /**/
  $black: #000; /**/
  $offblack: #333; /**/
  $fast: color 0.1s ease;

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1.5rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-size {
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin background-color {
  background: #ececec;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(236, 236, 236);
}
@mixin background-repeat {
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

@mixin transition($fast) {
  -webkit-transition: $fast;
  -moz-transition: $fast;
  -ms-transition: $fast;
  -o-transition: $fast;
  transition: $fast;
}

@mixin text-shadow {
  text-shadow: 1.5px 1.5px 3px #666;
}

@mixin Opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

// breakpoints
   
$S:     480px;   
$M:     768px;     
$L:     1024px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}
// breakpoints
   
// $S:     320px;   
// $M:     768px;     
// $L:     1170px;     

// // media queries

// @mixin MQ($canvas) {
//   @if $canvas == S {
//    @media only screen and (min-width: $S) { @content; } 
//   }
//   @else if $canvas == M {
//    @media only screen and (min-width: $M) { @content; } 
//   }
//   @else if $canvas == L {
//    @media only screen and (min-width: $L) { @content; } 
//   }
// }

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}




// ~~Navbar Settings

// rem fallback - credits: http://zerosixthree.se/

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}


// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// border radius

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

