@import "bootstrap-sprockets";
@import "bootstrap";
@import "fonts";
@import "settings";


/* universal */

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
  font-family: $fontregular, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  // padding-top: 70px;

}

section {
    position: relative;
  text-align: center;
}

textarea {
  resize: vertical;
}

.copy {
  text-align: justify;
  padding: 2rem;
}

// .landing {
//   position: relative;
//   overflow: hidden;
//   height: 100%;
//   background-repeat: no-repeat no-repeat;
//   background-color: $blue;
//   @include background-size;

//   @media screen and (max-width: 480px) {
//      height:400px;
//      background-image: image-url('hoc-group.jpg');
//   }
// }

h1 span {
  @media screen and (max-width: 712px) {
     // font-size: 3rem;
  }
  @media screen and (max-width: 480px) {
     // font-size: 2rem;
  }
  padding: 0 1rem;
}

.green {
  color: $green;
  &.underline {
    border-bottom: 5px solid $blue;
  }
}

.blue {
  color: $blue;
}
.grey {
  color: $grey;
}

.text-overlay{
  font-size:2rem;
  text-align:center;
  color: $blue;
}

// Cursor Effect
#typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 0.5px;
  font-family: $fontbold;
}

h2 {
  font-size: 2em;
  letter-spacing: 0.5px;
  font-weight: 200;
}
h3 {
  font-family: $fontsbold;
}
p {
  font-size: 1.2em;
  line-height: 1.7em;
  @media screen and (max-width: 768px) {

  }
}
 /* Gradient color1 - color2 - color1 */
 
hr.style-one {   
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}    
hr.style-two {
    border: 0;
    height: 1px;
    background: $black;
    background-image: -webkit-linear-gradient(left, #ccc, $black, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, $black, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, $black, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, $black, #ccc); 
} 

/* buttons */

/* General button style (reset) */
.bttn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
    &.link {
      text-decoration: none;
      cursor: pointer;
      // ~fix
    }
}

.bttn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* Button 2 */
.bttn-2 {
  background: $lightgreen;
  color: #fff;
  box-shadow: 0 6px $green;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 2a */
.bttn-2a {
  border-radius: 0 0 5px 5px;
}

.bttn-2a:hover {
  box-shadow: 0 4px $green;
  top: 2px;
}

.bttn-2a:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2b */
.bttn-2b {
  border-radius: 0 0 5px 5px;
}

.bttn-2b:hover {
  box-shadow: 0 8px $green;
  top: -2px;
}

.bttn-2b:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2c */
.bttn-2c {
  border-radius: 5px;
}

.bttn-2c:hover {
  box-shadow: 0 4px $green;
  top: 2px;
}

.bttn-2c:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2d */
.bttn-2d {
  border-radius: 5px;
}

.bttn-2d:hover {
  box-shadow: 0 8px $green;
  top: -2px;
}

.bttn-2d:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2e */
.bttn-2e {
  border-radius: 5px;
  box-shadow: -6px 0 $green;
}

.bttn-2e:hover {
  box-shadow: -4px 0 $green;
  left: -2px;
}

.bttn-2e:active {
  box-shadow: 0 0 $green;
  left: -6px;
}

/* Button 2f */
.bttn-2f {
  border-radius: 5px;
  box-shadow: 6px 0 $green;
}

.bttn-2f:hover {
  box-shadow: 4px 0 $green;
  left: 2px;
}

.bttn-2f:active {
  box-shadow: 0 0 $green;
  left: 6px;
}

/* Button 2g */
.bttn-2g {
  border-radius: 40px;
}

.bttn-2g:hover {
  box-shadow: 0 4px $green;
  top: 2px;
}

.bttn-2g:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2h */
.bttn-2h {
  border-radius: 20px;
}

.bttn-2h:hover {
  box-shadow: 0 4px $green;
  top: 2px;
}

.bttn-2h:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2i */
.bttn-2i {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0;
}

.bttn-2i:hover {
  box-shadow: 0 4px $green;
  top: 2px;
}

.bttn-2i:active {
  box-shadow: 0 0 $green;
  top: 6px;
}

/* Button 2j */
.bttn-2j {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 0;
}

.bttn-2j:hover {
  box-shadow: 0 8px $green;
  top: -2px;
}

.bttn-2j:active {
  box-shadow: 0 0 $green;
  top: 6px;
}


.button{
  border-radius: none;
  padding: 1rem 2rem 1rem;
  color: $blue;
  font-family: $fontbold;
  font-size: 2rem;
  // border-radius: 3px;
  &.link {
      text-decoration: none;
      cursor: pointer;
      // ~fix
    }
    &.blue {
      background-color: $clear;
      border: 10px solid $lightblue;
      &:hover, &:focus {
        background-color: $blue;
        border: 10px solid $blue;
        color: $white;
      }
    }
    &.green {
      background-color: $clear;
      border: 10px solid $green;
      color: $green;
      &:hover, &:focus {
        background-color: $green;
        border: 10px solid $green;
        color: $white;
      }
    }
    &.grey {
      background-color: $clear;
      border: 10px solid $lightgrey;
      color: $lightgrey;
      &:hover, &:focus {
        background-color: $grey;
        border: 10px solid $grey;
        color: $blue;
      }
    }
      &.white {
      background-color: $clear;
      border: 10px solid $white;
      color: $white;
      &:hover, &:focus {
        background-color: $white;
        border: 10px solid $white;
        color: $blue;
      }
    }
  @include transition((all, 200ms));
}

.blog-button {
  font-family: $fontthinit;
  display: inline-block;
}

.form-button {
  background-color: $green;
}
/* header */

header h1 {
  margin-top: 0;
}


header {
  position: relative;
  min-height: 700px;
  top: 0;
  max-height: 1200px;
  line-height: 180px;
  text-align: center;
  display: block;
  padding: 0;
  margin: 0;
  h1 {
    padding-top: 8%;
  }
  h1 {
    color: $white;
    font-family: $fontbold;
    @include font-smoothing;
    @include font-size(150px);
    @include text-shadow; 
  }
  h2 {
    color: $white;
    @include text-shadow; 
  }
  @include MQ(L) {
    height: 240px;
    line-height: 240px;
  } 
}

// ~!~ Section Settings

.section-header {
  padding: 3rem 0;
  h1 {
    margin: 5rem auto;
    text-align: center;
  }
  h4 {
    text-align: justify;
    line-height: 4rem;
    font-size: 2rem;
    @media screen and (max-width: 650px) {
      font-size: 1.5rem;
    }
  }
  h2 {
    font-size: 4rem;
    text-align: center;
  }
  h5 {
      text-align: left;
      line-height: 4rem;
      font-size: 2rem;
    }  
  p {
      text-align: left;
      padding-top: 1.2rem;      
    }    
    hr {
      margin: 0 3rem 0 3rem; 
    }  
    h3 {
      text-align: left;
      @media screen and (max-width: 495px) {
        font-size: 2rem;
      }
    }
}
.skills-head {
  min-height: 300px;
  margin: 20% 0 0 0;
}
.skills-description {
  padding: 3rem;
}





// ~!~ Backgrounds

.green-bg {
  background-color: $green;
  &.underline {
    border-bottom: 5px solid $blue;
  }
}
.black-bg{
  background-color: $black;
  color: $lightblue;
  &.underline {
    border-bottom: 5px solid $blue;
  }
}
.blue-bg{
  background-color: $blue;
  color: $white;
  &.underline {
    border-bottom: 5px solid $blue;
  }
}
.white-bg{
  background-color: $white;
  color: $black;
  &.underline {
    border-bottom: 5px solid $white;
  }
}
.lightblue-bg{
  background-color: $lightblue;
  color: $white;
  &.underline {
    border-bottom: 5px solid $lightblue;
  }
}
.lightgrey-bg {
  background-color: $lightgrey2;
}
.green-transparent {
  background-color: $green-transparent;
}
.blue-transparent {
  background-color: $blue-transparent;
}
// .lightblue-transparent {
//   background-color: $lightblue-transparent;
// }
.grey-transparent {
  background-color: $grey-transparent;
}
.yellow-transparent {
  background-color: $yellow-transparent;
}
.skyline {
  background: image-url('skyline-full.png') 0 0 repeat-x $green;
  padding: 20rem 0 3rem 0;
}
.water-bg {
  background-image: image-url('concrete-texture.jpg');
  margin-top: -100px;
}



// ~!~ Separators

.img-divider {
  background-position-x: initial;
  background-position-y: initial;
  background-size: cover;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-origin: initial;
  background-clip: initial;
  min-height: 600px;    
  @include background-size;
  &.jr {
    background-image: image-url('hoc-rocc2.jpg');
  }
  &.int {
    background-image: image-url('hoc-david.jpg');   
  }
  &.sr {
    background-image: image-url('hoc-student8.jpg');    
  }
}



/* Stamp */

#stamp path {
  fill: $green;
  stroke: $green; /* avoid gap in FF */
}
#clouds path {
  fill: $lightgrey;
  stroke: $lightgrey;
}
.container {
  overflow: hidden;
}
.header-blue {
  background-color: $lightblue;
  background-image: image-url('bc-lightblue.jpg');
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  min-height: 600px;
}
.header-green {
  background-color: $lightgreen;  
  background-image: image-url('bc-lightgreen.jpg');
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  min-height: 600px;    
}
.header-grey {
  background-color: $grey;
  background-image: image-url('bc-grey.jpg');
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  min-height: 600px;      
}
.adventure {
  background-image: #f4f7f8 url(http://sparkedtech.s3.amazonaws.com/adventure-bg.svg);  
  background: #f4f7f8 url("http://sparkedtech.s3.amazonaws.com/adventure-bg.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(244, 247, 248);
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
}
.adventure2 {
  background-image: #f4f7f8 url(http://sparkedtech.s3.amazonaws.com/adventure-bg2.svg);  
  background: #f4f7f8 url("http://sparkedtech.s3.amazonaws.com/adventure-bg2.svg");
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-origin: initial;
  background-clip: initial;    
}
.about-header {
  background-image: image-url('hoc-rocc.jpg');
  min-height: 700px;
  background-position-y: 60%;
  background-repeat: no-repeat;
 // background-attachment:fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size:cover;    
 @media screen and (max-width: 800px) {
  background-position-x: 30%;
 }
}
.quote {
  padding: 2% 10%;
  text-align: justify;
  margin: 0;
  line-height: 4rem;
  h4 {
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;    
    font-size: 2.5rem;
  }
}

.combo {
  background: image-url('bg-amp.png') center 150px no-repeat;
  text-align: justify;
  padding: 3rem 0;
}
.combo h1 {
  text-align: center;
}
.combo h3 {
  text-align: center;
}
.combo p {
  margin: 1rem 0 -0.2rem 3rem;
}
/*~~Headshots*/
.headshots {
  padding: 0 15%;
  border-radius: 50%;
}


#logo {
  float: left;
  margin-right: 10px;
  margin-top: -5px;
  height: 35px;
  color: $green;
  font-family: $fontregular;
  text-transform: uppercase;
  span {
    color: $blue;
  }
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* Landing */
.navbar-inverse {
  background-color: $clear;
  border: none;
  .navbar-nav {
    li {
      a {
        @include transition((all, 200ms));        
        font-size: 17px;
        text-transform: uppercase;
        color: $white;     
        span {
          color: $lightgreen;
        }
        &:hover, &:focus {
          line-height: 1.5rem;
          color: $lightblue;
          .green {
            color: $lightblue;
          }
        }
        // &:focus {
        // background-color: $white;
        // color: $lightblue !important;
        // }
      }
    }
  }
}

// About Homes

.home {
  padding: 5rem;
  &.brampton {
    margin-top: -6px;
  }
}
.skills {
  padding: 4rem 0; 
}


// .mississauga {
//   padding:100px 0;
// } 
.map {
  min-height: 400px;
  padding: 5rem 0 0 0;
}

/* Mobile Toggle Icon Color */

.navbar-inverse .navbar-toggle .icon-bar {
   background-color: $clear;
   color: $blue;
} 


.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: $clear;
  color: $blue;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $blue !important;
  line-height: 2.3rem;
  background-color: $lightgrey; 
}

.navbar-inverse .navbar-toggle {

}

.offerings {
      color: $lightblue;
  ul {
    li {
      display: inline-block;
    }
  }
}

.landing {
  margin: 0;
      @media screen and (max-width: 480px) {
         height:400px;
      }
   .overlay {
     position: absolute;
     top:0;
     left:0;
     height: 100%;
     width: 100%;
   }
   .hero-title {
      font-family: $fontregular;
      color: $lightgreen;
      @include text-shadow; 
      font-size: 8rem;
      // font-size: 80px;
      padding-top: 15%;
      text-align: left;
      margin-left: 25px;
      word-spacing: 0;
      .word-swap{
        color: $lightblue;
        margin-right: 0;
        padding-right: 0;
      }
      span {
        margin-right: 0;
        padding-right: 0;        
      }
      @media screen and (max-width: 650px) {
        font-size: 5rem;        
      }   
      @media screen and (max-width: 480px) {
        font-size: 3.5rem;  
        padding-top: 37%;      
      }   
    }
    .hero-description {
      font-family: $fontregular;
      color: $lightgreen;
      text-align: left;
      margin-left: 25px;      
      text-shadow: 1.5px 1.5px 3px #666;
      padding-top: 3%;
      margin-left: 25px;
      font-size: 3rem;
      @media screen and (max-width: 650px) {
        font-size: 2.5rem;
      }            
   }

  video{
    width:100%;
    height:auto;
    margin-top: -20px;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }  
  @media screen and (max-width: 479px) {
    background-image: image-url('hoc-group.jpg');
    @include background-size;
  }
  .scrolldown {
    position: relative;
    margin-top: 15%;
    @media screen and (min-width:500px) and (max-width: 800px) {
      margin-top: 5%;
    }
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}

/* blog */

.blog {
  padding: 100px 0 100px 0;
  overflow-x: hidden;
  a {
  }
  td {
    padding: 10px;
  }
  .titles {
    font-family: $fontsbold;
    font-size: 30px;
  }
  .blog-text {
    font-family: $fontregular;
  }
  .preview {

  }
}





/* footer */

// footer {
//   border-top: 1px solid $gray-medium-light;
//   color: $gray-light;

//   a {
//     color: $gray;
//     &:hover {
//       color: $gray-darker;
//     }
//   }
//   small {
//     float: left;
//   }
//   ul {
//     float: right;
//     list-style: none;
//     li {
//       float: left;
//       margin-left: 15px;
//     }
//   }
// }





/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $clear;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: black;
  ul {
    color: black;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Courses Header */

.courses_header{
  padding-top:8%;
  min-height:300px;
  @media screen and (max-width: 480px) {
      margin-top:20
    }

  h2{
    text-align:center;
  }
  p{
    font-size:26px;
    text-align:center;

    @media screen and (max-width: 480px) {
      font-size:20px;
    }
  }

  hr{
    background-color:$darkgrey;
  }
  
}

.courses_header_box{
  background-color: $white;
  padding:0 5%;
}



/*Courses */
.course-list {
   @include background-repeat;
      background-image: image-url('congruent_pentagon.jpg');
   position: relative;
   height: auto;
   width: 100%;
   text-align: center;
   padding-bottom: 2%;
   border-top: 0.5px solid rgba(23,45,53,0.08); 
   padding-top: 7%;
   // ~~fix
   min-height: 550px;

   h1 {
    line-height: 1.2em;
    text-transform: uppercase;
    padding: 2rem 0;
    font-size: 4.2rem;
    border-radius: 10%;
    margin: 2rem auto;
    line-height: 5rem;
    }

   a {
      text-decoration:none;
   }

    h2 {
        color: #43c3d9;
        line-height: 1em;
        font-size: 100%;
        margin: 0;
    }

    .courseborder{
        padding:20px;
        // border: 1px solid transparent;
        border-radius:8px;
        // background-image: image-url('blueprint-small.gif');
        background-color: $white;
        padding: 2rem;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: repeat;
        background-repeat-y: repeat;
        background-attachment: fixed;
        background-origin: initial;
        background-clip: initial;
        min-height: 325px;
        margin: 9rem auto;

        @include transition((border, .2s));
        
        &:hover {
            // border: 1px solid $blue;
        }
    }

      
}


.quickcourses {
   padding: 3rem 0;
   margin: 0;
   overflow: hidden;
   text-align: center;
   ul{
      padding-left:0px;
   }

    li {
      display: inline-block;
      font-size:16px;
      color:#fff;
      background-color:#43c3d9;
      padding:5px;
      text-align:center;
      }

    .label-warning {
      top: 7px;
      left: 50%;
      position: absolute;
      background-color:#4AC948;
   }
   .badge_shell {
      min-height: 120px;
   }

   a {
      position: relative;
      display: block;
      text-align: center;

      .label {
         text-shadow: 1px 1px 1px #666;
      }

      .topics {
        color: #999;
        list-style: none;
        margin: -10px 0 0 0 ;
        padding: 0;
        line-height: 1.3em;
      }
      .img-circle {

      }

      &:hover {
         text-decoration:none;
         .press_badge {
            width: 105px;
         }
      }
   }
}

/* Styling for Who */

.exit-music{
    position:relative;
   background-image:image-url('hoc-girl.jpg');
   background-repeat: no-repeat;
   // background-attachment:fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size:cover;
   height:600px;
    @media screen and (max-width: 480px){
      height:550px;
      padding-bottom:10%;
    }   
    #hero-overlay {
     position: absolute;
     top:0;
     left:0;
     height: 100%;
     width: 100%;
     background-color: rgba(0,0,0,0.4);
    }

   p{
          text-align:center;
          color:#fff;
          font-size:26px;
          padding:50px;
          margin-top:8%;
          @media screen and (max-width: 480px){
            margin-top:50px;
            font-size:20px;

          }
   }

   span{
      color:#43c3d9;
      font-size:36px;

      @media screen and (max-width: 480px) {
      font-size:30px;
    }
   }

   h5{
   }

}


.classroom-overlay{
      background-image: image-url('hoc-tutor.jpg');  
      position: relative;
      height: 600px;
      @include background-size;
      background-color: rgba(0,0,0,0.4);
      @media screen and (min-width:898px) {
        background-position-y: 60%;  
      } 
    #hero-overlay2 {
     position: absolute;
     top:0;
     left:0;
     height: 100%;
     width: 100%;
     background-color: rgba(0,0,0,0.7);
    }

   p{
          @media screen and (max-width: 480px){

          }
   }

   span{
      @media screen and (max-width: 480px) {

    }
   }

   h5{
   }

}

// .classroom {
//     background-image: image-url('hoc-tutor.jpg');  

//     @media screen and (min-width:898px) {
//       background-position-y: 60%;  
//     }
//     #hero-overlay {
//       position: absolute;
//       top:0;
//       left:0;
//       height: 100%;
//       width: 100%;
//       background-color: rgba(0,0,0,0.4);
//    }    
//   }

// ~!~ Pictures

.home-logo {
  padding: 1rem;
  display: inline-block;
  float: left;
  max-width: 200px; 
  margin-left: 3rem;
    @media screen and (max-width: 525px) {  
        max-width: 150px;
        margin: 2.5rem 0 0 1.5rem;  
        &.lab-b {
          margin-top: 0;
        }
      }
}
.home-address {
  padding-right: 0.5rem;
    @media screen and (max-width: 525px) {  
      }
}

.brick {
  display: inline-block;
  float: left;
  padding: 5px;
  &.right {
    float: right;
  }
}



/* Styling For Footer */

.global-footer {
   background-color: $white;
   color: $blue;
   text-align: center;
   overflow:hidden;
   border-top: 2px solid $lightgrey;
   .row {
      margin-left:0px;
   }
   .apply {
    margin: 20px 0 0 0;
   }
   #footernav {
      background-color: $white;
      height:100%;
      width:100%;
      padding-top:50px;
   }

    .subnavtitle{
      color: $lightblue;
      text-align:left;
      padding-left:40px;
      font-size: 17px;
    }

    .email_intake {
      padding: 5rem 0;
    }

   li{
      list-style:none;
      text-align:left;
      color:$lightgrey;
      padding-left: 5px;
      }
   
   a{
      color: $blue;
      font-size: 17px;
      line-height: 35px;
      @include transition((all, 200ms));
   }

   .sitemap a:hover{
      padding-left: 5px;
      text-decoration:none;
   }

   p {
      font-size: 22px;
   }

/*Footer Social Icons*/
  .social {
    margin: 0 auto;
  }
  .social a  {
    width: 50px;
    height: 50px;
    float: left;
  }
  .social li {
    margin: 0 auto; 
  }
  .social a:hover {
    @include Opacity(0.5);
  }
} 