<title>BrainStation - Coding Bootcamp in Toronto</title>

<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<link rel="icon" type="image/png" href="favicon.png">


<meta content="en" http-equiv="Content-Language">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<!-- Meta contont -->
<meta name="description" content="BrainStation is a progressive technology school in Toronto. We offer education for the next generation of creators.">
<meta name="author" content="BrainStation Education Inc.">


<!-- Open Graph -->
<meta content="http://www.brainstation.it" property="og:url">
<meta content="http://www.brainstation.it/images/og/og-image1.png" property="og:image">
<meta content="BrainStation" property="og:title">
<meta content="BrainStation" property="og:site_name">
<meta content="BrainStation is a progressive technology school in Toronto. We offer education for the next generation of creators." property="og:description">

<%= csrf_meta_tags %>