<div data-magellan-expedition="fixed">
      <dl class="sub-nav">
        <dd data-magellan-arrival="whybrainstation">
          <a href="/home">spark<i></i></a>
          <a href="/about" data-dropdown="hover1" data-options="is_hover:true">about<i></i></a>
          <a href="curriculum.html" data-dropdown="hover2" data-options="is_hover:true">curiculum<i></i></a>
          <a href="/learn" data-dropdown="hover3" data-options="is_hover:true">learn<i></i></a>
          <a href="/courses">courses<i></i></a>
        </dd>                  
          <img src="assets/robots/teslabot.svg"/>
          <a class="typeform-share link radius button join" href="https://brainstation.typeform.com/to/BsOx5r" data-mode="2" target="_blank"><strong>Join the Movement</strong></button></a>            
    </dl>  
  </div>